{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-dark underline" href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Account > 👋 Welcome back, {{ user.first_name|capfirst }}!
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Account</h1>
      {% if items %}
      <div class="p-5 border rounded">
        <h6 class="mb-3">
          Items({{ cartItems }})
          <span class="float-end">Total: €{{ order.get_cart_total }}</span>
        </h6>
        <table class="table table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <th scope="row">
                <img
                  height="50"
                  width="auto"
                  style="object-fit: cover"
                  src="{{ item.photo.image.url }}"
                  alt="{{ item.photo.name }}"
                />
              </th>
              <td>{{ item.photo.name }} <br />X {{ item.quantity }}</td>
              <td>€{{ item.photo.price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <h4>Cart is empty</h4>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
