{% extends 'base.html' %}{% load static %} {% block body %}
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-dark underline" href="{% url 'dashboard' %}"
          >Dashboard</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">New Luku</li>
    </ol>
  </nav>
  <div class="row rounded border p-4">
    <h3>New Luku!</h3>
    <hr />
    {% if success %}
    <div class="alert alert-success" role="alert">
      New Luku was added successfully.
      <a href="{% url 'dashboard' %}" class="alert-link">Dashboard</a>
    </div>
    {% else %}
    <div class="justify-content-center col-8">
      <form action="{% url 'add' %}" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-success">Add</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Cancel</a>
      </form>
    </div>
  </div>
</div>
<script>
  var form_fields = document.getElementsByTagName("input");

  for (var field in form_fields) {
    form_fields[field].className += "form-control";
  }
</script>
{% endif %} {% endblock %}
