{% extends 'base.html' %}{% load static %} {% block body %}
<div class="container">
  <div class="row rounded border">
    <h3>New Luku!</h3>
    <hr />
    {% if success %}
    <div class="alert alert-success" role="alert">
      New Luku was added successfully.
      <a href="{% url 'dashboard' %}" class="alert-link">Dashboard</a>
    </div>
    {% else %}
    <div class="justify-content-center col-8">
      <form action="{% url 'add' %}" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-success mb-3">Add</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Cancel</a>
      </form>
    </div>
  </div>
</div>
<script>
  var form_fields = document.getElementsByTagName("input");

  for (var field in form_fields) {
    form_fields[field].className += "form-control";
  }
</script>
{% endif %} {% endblock %}
