{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container">
  <div class="row text-black">
    <h1>{{ blog.title }}</h1>
    <div>{{ blog.content|safe }}</div>

    <div class="col-md-12 col-lg-4 sidebar">
      <div class="sidebar-box">
        <h3 class="heading">Popular Posts</h3>
        {% for blog in recent_blogs %}
        <div class="post-entry-sidebar">
          <ul class="list-unstyled">
            <li>
              <a
                class="underline text-dark"
                href="{% url 'blog_detail' blog.pk %}"
              >
                <img src="{{ blog.image.url }}" class="me-4 img-fluid" />
                <div class="text">
                  <h4>{{ blog.title }}</h4>
                  <div class="post-meta">
                    <span class="mr-2">{{ blog.pub_date }} </span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
      <!-- END sidebar-box -->
    </div>
  </div>
</div>
{% endblock %}
