{% extends 'base.html' %}{% load static %} {% block body %}
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Confirmed!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        We have received your payment!<br />Check your email for the tracking
        number!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'shop' %}" class="btn btn-dark btn-lg px-4 gap-3">
          Shop
        </a>
        <a
          href="{% url 'index' %}"
          class="btn btn-outline-secondary btn-lg px-4"
        >
          Home
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
