{% extends 'base.html' %} {% load static %} {% block body %}
<div id="top" class="container mt-3">
  <div class="container-fluid">
    <h1 class="text-center display-1">Dashboard</h1>
    <div class="align-items-center d-flex justify-content-center">
      <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active bg-dark" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'store' %}">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'gallery' %}">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <div class="dropdown nav-pills">
          <button class="btn btn-secondary btn-lg bg-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'add' %}">Add Product</a></li>
            <li><a class="dropdown-item" href="{% url 'addphoto' %}">Add Photo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </div>
      </li>
    </ul>
    </div>
    <hr />
    <div class="row">
      <main class="col ms-sm-auto px-md-4">
        <div class="row">
          <h3>Products Overview</h3>
          <div class="col">
            <canvas
            class="my-3"
            id="myChart2"
            ></canvas>
          </div>
          <div class="col">
            <canvas
              class="my-3"
              id="myChart"
              height="300px"
            ></canvas>
          </div>
        </div>
        <hr>
        <h2>Main Store Products</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Shop</th>
                <th scope="col">Popular</th>
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
              <tr>
                <td>{{ product.pk }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.shop }}</td>
                <td>{{ product.popular }}</td>
              </tr>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <h2>Gallery Database</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Photo</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
                {% for photo in photos %}
              <tr>
                <td>{{ photo.pk }}</td>
                <td>{{ photo.name_of_photo }}</td>
                <td>{{ photo.category }}</td>
              </tr>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Newsletter Subscriptions -->
        <hr>
        <h2>Newsletter Subscriptions</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
                {% for newsletter in newsletters %}
              <tr>
                <td>{{ newsletter.email }}</td>
              </tr>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Shipping Addresses -->
        <hr>
        <h2>Shipping Addresses</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Label</th>
                <th scope="col">Details</th>
                <th scope="col">City</th>
              </tr>
            </thead>
            <tbody>
                {% for shipping in shippings %}
              <tr>
                <td>{{ shipping.label }} Address</td>
                <td>{{ shipping.order }}</td>
                <td>{{ shipping.city }}</td>
              </tr>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Order List -->
        <hr>
        <h2>Orders</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Order By</th>
                <th scope="col">Product ID</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                {% for order_list in order_lists %}
              <tr>
                <td>{{ order_list.product }}</td>
                <td>{{ .username }}</td>
                <td>#{{ order_list.product.pk }}</td>
                <td>€{{ order_list.product.price }}</td>
              </tr>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        
      </main>
    </div>
  </div>
  <div class="text-center">
    <a style="text-decoration: none;" class="text-dark" href="#top">Back to Top</a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  const ctx = document.getElementById('myChart');
  
  // Parse the JSON data from the server
  const categoryList = JSON.parse('{{ category_json|escapejs }}');
  
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: categoryList,
      datasets: [{
        label: 'Category',
        data: [0, 0, 0, 1, 0, 4, 0, 0, 0, 0, 2, 3, 9, 1],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
  const ctx2 = document.getElementById('myChart2');
  let popularProducts = JSON.parse('{{ popular_number }}');
  let regularProducts = JSON.parse('{{ regular_products }}');

  let popularData = [popularProducts, regularProducts]

  new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: ['Popular Products', 'Other Products'],
      datasets: [{
        data: popularData,
        borderWidth: 1
      }]
    },
    
  });
</script>
{% endblock %}
