{% extends 'base.html' %}{% load static %}{% block body %}{% load humanize %}
<div class="container mb-5">
  <h1 class="text-center display-6 my-5 border-bottom pb-5 fw-bold">
    <i class="fas fa-table me-1"></i>
    LukuStore Estimate Stock September 2023
    <i class="fas fa-table me-1"></i>
  </h1>
  <div class="table-responsive" style="overflow-y: auto; overflow-x: auto">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <table
          class="table table-responsive overflow-scroll border shadow table-hover table-striped-columns"
        >
          <thead style="background-color: black; color: #fff">
            <tr>
              <th>Code</th>
              <th class="text-white">Brand</th>
              <th>Type</th>
              <th class="text-white">Target</th>
              <th>Item</th>
              <th class="text-white">Amount (F)</th>
              <th>Amount (T)</th>
              <th class="text-white">Buying Price</th>
              <th>Selling Price</th>
              <th class="text-white">Total Cost (ksh)</th>
              <th class="text-white">View</th>
              <th class="text-white">Update</th>
              <th class="text-white">Delete</th>
            </tr>
          </thead>
          <tfoot style="background-color: black; color: #fff">
            <tr>
              <th>Code</th>
              <th class="text-white">Brand</th>
              <th>Type</th>
              <th class="text-white">Target</th>
              <th>Item</th>
              <th class="text-white">Amount (F)</th>
              <th>Amount (T)</th>
              <th class="text-white">Buying Price</th>
              <th>Selling Price</th>
              <th class="text-white">Total Cost (ksh)</th>
              <th>View</th>
              <th class="text-white">Update</th>
              <th class="text-white">Delete</th>
            </tr>
          </tfoot>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <th class="col">#ls0{{ stock.pk }}</th>
              <th>{{ stock.brand }}</th>
              <th>{{ stock.type }}</th>
              {% if stock.target_display == 'M' %}
              <th>M</th>
              {% elif stock.target_display == "F" %}
              <th>F</th>
              {% else %}
              <th>U</th>
              {% endif %}
              <th>{{ stock.item }}</th>
              <th>{{ stock.amount_f }}</th>
              <th>{{ stock.amount_t }}</th>
              <th>€{{ stock.buying_price }}</th>
              <th>{{ stock.selling_price }}</th>
              <th>Ksh {{ stock.total_cost|intcomma }}</th>
              <!-- View Stock Start -->
              <th>
                <button
                  type="button"
                  class="btn btn-secondary me-1"
                  href="{% url 'view_stock' slug=stock.slug %}"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal{{ stock.id }}"
                >
                  <i class="fa-regular fa-folder-open"></i>
                </button>

                <!-- Modal - View Stock Modal -->
                <div
                  class="modal fade"
                  id="myModal{{ stock.id }}"
                  tabindex="-1"
                  aria-labelledby="myModal{{ stock.id }}Label1"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="myModal{{ stock.id }}Label1"
                        >
                          {{ stock.item }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <ul class="list-unstyled text-dark">
                          <li>Brand: {{ stock.brand }}</li>
                          <li class="fw-bold mt-3">Type: {{ stock.type }}</li>
                          <li class="fw-bold mt-3">
                            Target: {{ stock.target }}
                          </li>
                          <li class="fw-bold mt-3">
                            Amount (F): {{ stock.amount_f }}
                          </li>
                          <li class="fw-bold mt-3">
                            Amount (T) {{ stock.amount_t }}
                          </li>
                          <li class="fw-bold mt-3">
                            Buying Price: {{ stock.buying_price }}
                          </li>
                          <li class="fw-bold mt-3">
                            Selling Price: {{ stock.selling_price }}
                          </li>
                          <li class="fw-bold mt-3">
                            Total Cost: {{ stock.total_cost }}
                          </li>
                          {% if stock.possible_best_seller %}
                          <li class="fw-bold text-success mt-3">
                            Possible Best Seller
                          </li>
                          {% else %}
                          <li class="fw-bold text-danger mt-3">
                            Possible Less Seller
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <!-- View Stock End -->

              <!-- Edit Stock Start -->
              <th>
                <a
                  href="{% url 'edit_stock' slug=stock.slug %}"
                  class="btn btn-warning me-1"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
              </th>
              <!-- Edit Stock End -->

              <!-- Delete Stock Start -->
              <th>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#delete{{ stock.id}}"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
                <!-- Delete button ends -->

                <!-- Modal - Delete Stock Modal Start -->
                <div
                  class="modal fade"
                  id="delete{{ stock.id }}"
                  tabindex="-1"
                  aria-labelledby="myModal{{ stock.id }}Label2"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="myModal{{ stock.id }}Label2"
                        >
                          {{ stock.item }} <br />
                          {{ stock.type }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete {{ stock.item }}?</p>
                      </div>
                      <div class="modal-footer">
                        <form
                          action="{% url 'delete_stock' slug=stock.slug %}"
                          method="POST"
                        >
                          {% csrf_token %}
                          <input
                            type="submit"
                            class="btn btn-danger"
                            value="delete"
                          />
                        </form>
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal - Delete Stock Modal End -->
              </th>
              <!-- Delete Stock End -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid px-4">
  <h1 class="text-center display-6 my-5 border-bottom pb-5 fw-bold">
    <i class="fa-solid fa-chart-simple me-1"></i>
    Figures
    <i class="fa-solid fa-chart-simple me-1"></i>
  </h1>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">
          Total Pieces
          <span><h1 class="fw-bold display-2">{{ total_pieces }}</h1></span>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">
          Total first consigment
          <span
            ><h1 class="fw-bold display-2">
              € {{ total_consigment|intcomma }}
            </h1></span
          >
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">
          Total first consigment (Ksh)
          <span
            ><h1 class="fw-bold display-2">
              {{ grand_total_cost|intcomma }}
            </h1></span
          >
          <h3>€ {{ euro_converted_total_consigment|intcomma }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="card mb-4">
        <div class="card-header text-success">
          <i class="fas fa-chart-area me-1"></i>
          Possible Best Seller
        </div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="50"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="card mb-4">
        <div class="card-header text-success">
          <i class="fas fa-chart-bar me-1"></i>
          Possible Best Seller
        </div>
        <div class="card-body">
          <canvas
            id="possibleBestSellerChart"
            width="100%"
            height="50"
          ></canvas>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header text-danger">
          <i class="fas fa-chart-bar me-1"></i>
          Possible Less Seller
        </div>
        <div class="card-body">
          <canvas
            id="possibleLessSellerChart"
            width="100%"
            height="50"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  crossorigin="anonymous"
></script>
<script src="{% static 'js/dashboard/chart-area.js' %}"></script>
<script src="{% static 'js/dashboard/chart-bar.js' %}"></script>
{% endblock %}
