{% extends 'base.html' %}{% load static %}{% block body %}
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between align-items-center my-3">
      <h1>Category</h1>
      <div class="dropdown">
        <button
          class="btn btn-dark dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select category
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{% url 'gallery' %}">All</a>
          </li>

          {% for category in categories %}
          <li>
            <a
              class="dropdown-item"
              href="{% url 'gallery' %}?category={{ category.name }}"
              >{{ category.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      {% for photo in photos %}
      <div class="col-sm-12 col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="{{ photo.image.url }}"
            style="
              object-fit: cover;
              height: 225px;
              width: 100%;
              display: block;
            "
          />
          <div class="card-body">
            <a class="text-dark underline" href="{% url 'photo' photo.pk %}"
              ><h5 class="card-text">{{ photo.name }}</h5></a
            >
            <p class="card-text">{{ photo.shop }}</p>
            <h4 class="card-text">€{{ photo.price }}</h4>
            <hr />
            <div class="d-flex justify-content-between align-items-center">
              <button
                data-product="{{ photo.pk }}"
                data-action="add"
                class="btn btn-dark w-100 update-cart mb-3"
              >
                Add To Cart <i class="me-1 fa fa-shopping-basket"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="container text-center">
        <h1>We'll be restocking soon!</h1>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
