{% extends 'base.html' %}{% load static %} {% block body %}
<!-- Css Styles -->
<link
  rel="stylesheet"
  href="{% static 'css/bootstrap.min.css' %}"
  type="text/css"
/>

<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

<section id="top" class="container mt-3">
  <div class="row my-3">
    <ul class="nav nav-tabs justify-content-center">
      {% for category in categories %}
      <li class="nav-item">
        <a
          class="nav-link {% if active_category == category.name %}active{% endif %} text-black"
          style="text-decoration: none"
          href="{% url 'gallery' %}?category={{ category.name }}"
          >{{ category.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>

  <div
    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center"
  >
    {% for product in products %}
    <div class="col-lg-4 col-md-6 col-sm-6">
      {% if photo.stock == 0 %}
      <div class="label">
        <h4><span class="badge bg-danger">Sold Out</span></h4>
      </div>
      {% endif %}
      <div class="product__item">
        <div
          class="product__item__pic set-bg"
          data-setbg="{{ product.image.url }}"
        >
          <ul class="product__hover">
            <li>
              <a href="{{ product.image.url }}"
                ><span class="fa-solid fa-maximize"></span
              ></a>
            </li>
            <li>
              <a href="{% url 'product_detail' product.pk %}"
                ><span class="fa-solid fa-shopping-cart"
                  ><button
                    style="background: none; border: none"
                    data-product="{{ photo.pk }}"
                    data-action="add"
                  ></button></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6>
            <a href="{% url 'product_detail' product.pk %}"
              >{{ product.product_name }}</a
            >
          </h6>
          <div class="rating">
            {% if photo.rating == 1 %}
            <i class="fa fa-star"></i>
            {% elif photo.rating == 2 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif photo.rating == 3 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif photo.rating == 4 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% else %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% endif %}
          </div>
          <div class="product__price">€ {{ product.price }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    function toggleDim(button, dim) {
      var cardWrapper = button.closest(".card-wrapper");
      if (dim) {
        cardWrapper.classList.add("dim");
      } else {
        cardWrapper.classList.remove("dim");
      }
    }
  </script>
</section>

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}
