{% extends 'base.html' %}{% load static %}{% block body %}

<div id="top" class="mt-3 container">
  <div class="row text-center">
    <p class="display-3 text-center">Category</p>
      {% for category in categories %}
      <div id="category" class="col-4 mb-3">
        <a href="{% url 'gallery' %}?category={{ category.name }}" class="text-dark underline">
        <div class="card bg-light" >
          <div class="thumbnail display-1 mt-3">
            <i class="{{ category.icon }}"></i>
          </div>
          <div class="card-body">
            <p class="h4 ">{{ category.name }}</p>
          </div>
        </div>
        </a>
      </div>
      {% endfor %}
      </div>

      <div class="container" id="category-results">

      </div>
  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <a class="underline text-dark" href="#top">Back to top</a>
  </footer>
</div>
{% endblock %}
