{% extends 'base.html' %} {% load static %} {% block body %}
<!-- -------------------- -->
<!-- -------------------- -->

<!-- HERO SECTION -->
<div
  style="
    margin-top: 0 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
  "
  id="myCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="{% static 'images/hero/image_6483441.png' %}"
      />

      <div class="container">
        <div class="carousel-caption text-start">
          <img
            style="filter: invert(100%); margin-bottom: 1.5rem"
            height="200"
            src="{% static 'images/logo/lukustore.nl-logo.svg' %}"
          />
          <p>
            <a class="btn btn-lg btn-outline-light" href="#">SS23' Lukubook</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="{% static 'images/hero/OX_2-hero.png' %}"
      />
      <div class="container">
        <div class="carousel-caption">
          <figure class="text-center">
            <blockquote class="blockquote">
              <h1>
                Streetwear is an artistic movement. <br />
                It’s a creative process.
              </h1>
            </blockquote>
            <figcaption class="blockquote-footer">Virgil Abloh</figcaption>
          </figure>
          <p>
            <a class="btn btn-lg btn-outline-light" href="{% url 'store' %}"
              >Shop &#8599;</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="{% static 'images/hero/image_6483441-hero.png' %}"
      />

      <div class="container">
        <div class="carousel-caption text-end">
          <img
            style="filter: invert(100%); margin-bottom: 1.5rem"
            height="200"
            src="{% static 'images/logo/lukustore.nl-logo.svg' %}"
          />
          <p>
            <a class="btn btn-lg btn-outline-light" href="{% url 'gallery' %}?category=Streetwear%20Brands"
              >Akiba Studios &#8594;</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- END OF HERO SECTION -->

<!-- -------------------- -->
<!-- -------------------- -->
<!--  SECTION -->
<div style="margin-top: 100vh" class="container">
  <br />
  <br />
  <br />
  <!-- END OF  SECTION -->

  <!-- -------------------- -->
  <!-- -------------------- -->

  <!-- LUKU DEFINITION -->

  <div class="container text-center">
    <h1 style="font-size: 13rem" class="col-12">luku</h1>
    <p class="text-muted h4">/ loo-koo /</p>
    <br />
    <p class="display-6">
      <strong>(n.)</strong>
      a magical power possessed by stylish clothing that makes you feel like you
      can conquer the world while also doing good for others. Example: "I put on
      my new fit from Kenya and suddenly I felt the luku coursing through my
      veins! Time to take on the day with confidence."
    </p>
  </div>
  <!-- END OF LUKU DEFINITION -->
  <br />
  <hr />
  <br />
  <br />
  <!-- -------------------- -->
  <!-- -------------------- -->
  <!-- POPULAR THIS WEEK -->

  <div class="container">
    <div class="row">
      <div id="popular-this-week" class="index-heading">
        <h3 class="index-heading">Popular This Week</h3>
        <p class="winter-sub-heading">
          Akiba is back with unique and colorful outfits that reflect the Kenyan
          culture and lifestyle.
        </p>
      </div>
    </div>

    <div class="row">
      {% for photo in photos %} {% if photo.popular|slice:":4" %}
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div style="border: none" class="card w-100 my-2 shadow-2-strong">
          <a href="{% url 'photo' photo.pk %}">
            <img
              src="{{ photo.image.url }}"
              class="card-img-top"
              style="
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 25px;
                height: 25rem;
              "
              alt="{{ product.name }}"
          /></a>
          <br />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-dark">{{ photo.name }}</h5>
            <p>{{ photo.description|truncatechars:50 }}</p>
            <h4 class="card-text">€{{ photo.price }}</h4>
            <div
              class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto"
            >
              <button
                data-product="{{ photo.pk }}"
                data-action="add"
                class="btn-cart btn-outline-secondary shadow-0 me-1 update-cart"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  <!-- END OF POPULAR THIS WEEK -->
  <!-- -------------------- -->
  <!-- -------------------- -->

    <!-- BLOG SECTION -->

    <!-- Blog -->
    <section class="mt-5 mb-4">
      <div class="container text-dark">
        <header class="mb-4">
          <h1 class="">Blog posts</h1>
        </header>

        <div class="row">
          {% for blog in blogs|slice:":4" %}
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <article>
              <a href="{% url 'blog_detail' pk=blog.pk %}" class="img-fluid">
                <img
                  class="rounded w-100"
                  src="{{ blog.imageURL }}"
                  style="object-fit: cover"
                  height="160"
                />
              </a>
              <div class="mt-2 text-muted small d-block mb-1">
                <span>
                  <i class="fa fa-calendar-alt fa-sm"></i>
                  {{ blog.pub_date }}
                </span>
                >
                <h6 class="text-dark">{{ blog.title|truncatechars:50 }}</h6>
                <p>{{ blog.summary|truncatechars:50}}</p>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Blog -->

    <!-- END OF BLOG SECTION -->
    <!-- -------------------- -->
    <!-- -------------------- -->

    <!-- HOT SALE -->
    <div
      style="margin-bottom: 5rem"
      id="myCarouselHotSale"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarouselHotSale"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarouselHotSale"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarouselHotSale"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div style="height: 35rem" class="carousel-item active">
          <img
            style="border-radius: 25px"
            class="d-block w-100"
            src="{% static 'index/TRUCKER_HAT_2.jpg' %}"
          />
          <div class="container">
            <div class="carousel-caption text-start">
              <a
                style="text-decoration: none"
                class="link-light"
                href="{% url 'gallery' %}?category=Hats%20And%20Caps"
                ><h3 class="underline">
                  Explore Akiba <br />
                  Trucker Hats &#8594;
                </h3></a
              >
            </div>
          </div>
        </div>

        <div style="height: 35rem" class="carousel-item">
          <img
            style="
              border-radius: 25px;
              background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.724),
                transparent
              );
            "
            class="d-block w-100"
            src="{% static 'index/TRUCKER_HAT_1.jpg' %}"
          />
        </div>

        <div style="height: 35rem" class="carousel-item">
          <img
            style="border-radius: 25px"
            class="d-block w-100"
            src="{% static 'index/bucket-hats1.png' %}"
          />
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarouselHotSale"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarouselHotSale"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr />
    <!-- END OF HOT SALE -->
    <!-- -------------------- -->
    <!-- -------------------- -->
    <div class="container text-center">
      <a class="underline text-dark" href="#myCarousel">Back to top</a>
    </div>
  </div>
</div>
{% endblock %}
