{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container-fluid bg-black text-white">
  <div class="container px-4 py-5" id="custom-cards">
    <h1 class="p-3 border-bottom">
      DJ G400 <span class="float-end"><i class="fa-solid fa-list"></i></span>
    </h1>

    <div  id="mixes" class="container mt-5 overflow-hidden">
      <div class="row gy-5">
        <div class="col-6">
          <a style="text-decoration: none" href="#mixes"
            ><div
              class="p-3 border bg-dark border-dark rounded-3 h6 text-secondary"
            >
              Mixes
              <span class="float-end h5"
                ><i class="fa-solid fa-music"></i
              ></span></div
          ></a>
        </div>
        <div class="col-6">
          <a style="text-decoration: none" href="#mobile-box"
            ><div
              class="p-3 border bg-dark border-dark rounded-3 h6 text-secondary"
            >
              Albums
              <span class="float-end h5"
                ><i class="fa-solid fa-folder"></i
              ></span></div
          ></a>
        </div>
        <div class="col-6">
          <a style="text-decoration: none" href="#playlists"
            ><div
              class="p-3 border bg-dark border-dark rounded-3 h6 text-secondary"
            >
              Playlists
              <span class="float-end h5"
                ><i class="fa-brands fa-spotify"></i></span></div
          ></a>
        </div>
        <div class="col-6">
          <a style="text-decoration: none" href="#popular"
            ><div
              class="p-3 border bg-dark border-dark rounded-3 h6 text-secondary"
            >
              Popular
              <span class="float-end h5"
                ><i class="fa-solid fa-heart"></i
              ></span></div
          ></a>
        </div>
      </div>
    </div>

    <!-- Content -->
    <h1 class="p-3 my-3 border-bottom text-secondary">
      All Mixes
      <span class="float-end"><i class="fa-solid fa-music"></i></span>
    </h1>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">

      {% for mix in mixes %}
      <div class="container d-flex justify-content-center my-4 mb-5">
        <div id="mobile-box" class="table-responsive">
          <!-- Card -->
          <div class="">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            ><a
                  class="text-white underline"
                  href="{% url 'music_player' mix.id %}"
                  >
              <img class="card-img-top" src="{{ mix.image.url }}" />
            </div>
            <div class="card-body text-center">
              <h5 class="h4 my-3 font-weight-bold">
                {{ mix.title }}</a
                >
              </h5>
              <p class="mb-0 my-3">
                Featured artists: {{ mix.featured_artists }}
              </p>
              <p class="mb-0 my-3 small">Genre: {{ mix.genre }}</p>
              <p id="mobile-box" class="mb-0 my-3 small"><i class="fa-solid fa-clock"></i>  {{ mix.duration }} Minutes</p>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Content -->

    <!-- Content -->
    <h1 id="albums" class="p-3 my-3 border-bottom text-secondary">
      Albums
      <span class="float-end"><i class="fa-solid fa-folder"></i></span>
    </h1>
    <div class="row">
      {% for album in mix_albums %}
      <div class="col-4">
        <div class="dropdown row g-1">
          <button class="p-3 border bg-dark border-dark rounded-3 h6 text-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ album }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for mix in mixes %}
            <li><a class="dropdown-item" href="{% url 'music_player' mix.id %}">
              {{ mix.title }}
            </a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Content -->

    {% if playlists %}
    <!-- Content -->
    <h1 id="playlists" class="p-3 my-3 border-bottom text-secondary">
      Playlists
      <span class="float-end"><i class="fa-solid fa-list-ol"></i></span>
    </h1>
    
    <div class="row">
      {% for playlist in playlists %}
      <div class="col-4">
        <div class="row g-1">
          <button class="p-3 border bg-dark border-dark rounded-3 h6 text-secondary" >
            {{ playlist }}
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Content -->

    {% if mixes.popular %}
    <!-- Content -->
    <h1 class="p-3 my-3 border-bottom text-secondary">
      Popular
      <span id="popular" class="float-end"><i class="fa-solid fa-heart"></i></span>
    </h1>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">

      {% for mix in mixes.popular %}
      <div class="container d-flex justify-content-center my-4 mb-5">
        <div >
          <!-- Card -->
          <div >
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            ><a
                  class="text-white underline"
                  href="{% url 'music_player' mix.id %}"
                  >
              <img class="card-img-top" src="{{ mix.image.url }}" />
            </div>
            <div class="card-body text-center">
              <h5 class="h4 my-3 font-weight-bold">
                {{ mix.title }}</a
                >
              </h5>
              <p class="mb-0 my-3">
                Featured artists: {{ mix.featured_artists }}
              </p>
              <p class="mb-0 my-3 small">Genre: {{ mix.genre }}</p>
              <p class="mb-0 my-3 small"><i class="fa-solid fa-clock"></i>  {{ mix.duration }} Minutes</p>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- Content -->
  </div>
</div>
{% endblock %}
