{% extends 'base.html' %}{% load static %}{% block body %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="./index.html"><i class="fa fa-home"></i> Home</a>
          <a href="#">{{ photo.category }} </a>
          <span>{{ photo.type }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product__details__pic">
          <div class="product__details__pic__left product__thumb nice-scroll">
            <a class="pt active" href="{% url 'photo' photo.pk %}">
              <img src="{{ photo.image.url }}" alt="" />
            </a>
            {% if similar_images %} {% for photo in similar_images %}
            <a class="pt" href="{% url 'photo' photo.pk %}">
              <img src="{{ photo.image.url }}" alt="" />
            </a>
            {% endfor %} {% endif %}
          </div>
          <div class="product__details__slider__content">
            <div class="product__details__pic__slider owl-carousel">
              <img
                data-hash="{% url 'photo' photo.pk %}"
                class="product__big__img img-fluid"
                src="{{ photo.image.url }}"
                alt="{{ photo.name }}"
              />
              {% if similar_images %} {% for photo in similar_images %}
              <img
                data-hash="{% url 'photo' photo.pk %}"
                class="product__big__img img-fluid h-100"
                src="{{ photo.image.url }}"
                alt="{{ photo.name }}"
              />
              {% endfor %} {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3>{{ photo.name }}</h3>
          <h6 class="fw-bold">Brand: {{ photo.shop }}</h6>
          <div class="rating">
            {% if photo.rating == 1 %}
            <i class="fa fa-star"></i>
            {% elif photo.rating == 2 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif photo.rating == 3 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif photo.rating == 4 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% else %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% endif %}
          </div>
          <div class="product__details__price">€{{ photo.price }}</div>
          <p>{{ photo.description }}</p>
          <div class="product__details__button">
            <div class="quantity">
              <span>Quantity:</span>
              <div class="pro-qty">
                <input type="text" value="1" />
              </div>
            </div>
            <a href="#" class="cart-btn"
              ><span class="icon_bag_alt"></span> Add to cart</a
            >
            <ul>
              <li>
                <a href="#"><span class="icon_adjust-horiz"></span></a>
              </li>
            </ul>
          </div>
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Availability:</span>
                {% if photo.stock == 0 %}
                <p>Sold Out</p>
                {% else %}
                <p>In Stock</p>
                {% endif %}
              </li>
              <li>
                <span>Available size:</span>
                <div class="size__btn">
                  <label for="xs-btn" class="active">
                    <input type="radio" id="xs-btn" />
                    xs
                  </label>
                  <label for="s-btn">
                    <input type="radio" id="s-btn" />
                    s
                  </label>
                  <label for="m-btn">
                    <input type="radio" id="m-btn" />
                    m
                  </label>
                  <label for="l-btn">
                    <input type="radio" id="l-btn" />
                    l
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#tabs-1"
                role="tab"
                >Description</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                >Specification</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p>{{ photo.description }}</p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Specification</h6>
              <p>Color: {{ photo.color }}</p>
              <p>Size: {{ photo.size }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="related__title">
          <h5>RELATED PRODUCTS</h5>
        </div>
      </div>
      {% for photo in similar_products %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="{{ photo.image.url }}"
          ></div>
          <div class="product__item__text">
            <h6><a href="{% url 'photo' photo.pk %}">{{ photo.name }}</a></h6>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product__price">{{ photo.price }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Product Details Section End -->
{% endblock %}
