{% extends 'base.html' %}{% load static %}{% block body %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
          <a href="{% url 'gallery' %}?category={{ photo.category }}"
            >{{ photo.category }}
          </a>
          <span>{{ photo.type }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product__details__pic">
          <div class="product__details__pic__left product__thumb nice-scroll">
            <a class="pt active" href="{% url 'photo' photo.pk %}">
              <img src="{{ photo.image.url }}" alt="" />
            </a>
            {% if similar_images %} {% for photo in similar_images %}
            <a class="pt" href="{% url 'photo' photo.pk %}">
              <img src="{{ photo.image.url }}" alt="" />
            </a>
            {% endfor %} {% endif %}
          </div>
          <div class="product__details__slider__content">
            <div class="product__details__pic__slider owl-carousel">
              <img
                data-hash="{% url 'photo' photo.pk %}"
                class="product__big__img img-fluid"
                src="{{ photo.image.url }}"
                alt="{{ photo.name }}"
              />
              {% if similar_images %} {% for photo in similar_images %}
              <img
                data-hash="{% url 'photo' photo.pk %}"
                class="product__big__img img-fluid h-100"
                src="{{ photo.image.url }}"
                alt="{{ photo.name }}"
              />
              {% endfor %} {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3>{{ photo.name }}</h3>
          <h6 class="fw-bold">Brand: {{ photo.shop }}</h6>
          <div class="rating">
            {% if photo.rating == 1 %}
            <i class="fa fa-star"></i>
            {% elif photo.rating == 2 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif photo.rating == 3 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% elif photo.rating == 4 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% else %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            {% endif %}
          </div>
          <div class="product__details__price">€{{ photo.price }}</div>
          <p>{{ photo.description }}</p>
          <div class="product__details__button">
            <a href="#" class="cart-btn"
              >Add to cart <i class="fa-solid fa-cart-shopping"></i
            ></a>
          </div>
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Availability:</span>
                {% if photo.stock == 0 %}
                <p>Sold Out</p>
                {% else %}
                <p>In Stock</p>
                {% endif %}
              </li>
              <li>
                <span>Available size:</span>
                <div class="size__btn">
                  {% if photo.size == 'XS' %}
                  <label>
                    <input type="radio" id="xs-btn" />
                    XS
                    <s>S</s>
                    <s>M</s>
                    <s>L</s>
                    <s>XL</s>
                  </label>
                  {% elif photo.size == 'Small' %}
                  <label>
                    <s>XS</s>
                    <input type="radio" id="s-btn" />
                    Small
                    <s>M</s>
                    <s>L</s>
                    <s>XL</s>
                  </label>
                  {% elif photo.size == 'Medium' %}
                  <label>
                    <s>XS</s>
                    <s>S</s>
                    <input type="radio" id="m-btn" />
                    Medium
                    <s>L</s>
                    <s>XL</s>
                  </label>
                  {% elif photo.size == 'Large' %}

                  <label>
                    <s>XS</s>
                    <s>S</s>
                    <s>M</s>
                    <input type="radio" id="l-btn" />
                    Large
                    <s>XL</s>
                  </label>
                  {% else %}
                  <label>
                    <s>XS</s>
                    <s>S</s>
                    <s>M</s>
                    <s>L</s>
                    <input type="radio" id="xl-btn" />
                    XL
                  </label>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#tabs-1"
                role="tab"
                >Description</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                >Specification</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Description</h6>
              <p>{{ photo.description }}</p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Specification</h6>
              <p>Color: {{ photo.color }}</p>
              <p>Size: {{ photo.size }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if similar_products %}
    <div class="container">
      <h5 class="card-title mb-3">Similar items</h5>
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-start"
      >
        {% for photo in similar_products %}
        <div class="col mb-4">
          <div style="border: none" class="card w-100 my-2 shadow-2-strong">
            <a href="{% url 'photo' photo.pk %}">
              <img
                src="{{ photo.image.url }}"
                class="img-fluid"
                style="object-fit: cover"
                alt="{{ photo.name }}"
            /></a>
            <div class="row d-flex flex-column mt-2">
              <h5 class="text-bold">{{ photo.name }}</h5>
              <small>Brand: {{ photo.shop }}</small>
              <p>€{{ photo.price }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
  </div>
</section>
<!-- Product Details Section End -->
{% endblock %}
