{% extends 'base.html' %} {% load static %} {% block body %}
<div id="top" class="container">
  <div class="row">
    <section class="py-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a class="text-dark underline" href="{% url 'shop' %}">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a class="text-muted underline" href="{% url 'gallery' %}?category={{ photo.category.name }}">{{ photo.category }}</a></li>
        </ol>
      </nav>
      <div class="container pt-1">
        <div class="row gx-5">
          <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
              <a
                data-fslightbox="mygalley"
                class="rounded-4"
                target="_blank"
                data-type="image"
                href="{{ photo.image.url }}"
              >
                <img
                  style="
                    max-width: 100%;
                    max-height: 100vh;
                    margin: auto;
                    object-fit: cover;
                  "
                  class="rounded-4 fit"
                  src="{{ photo.image.url }}"
                  id="productImg"
                />
              </a>
            </div>
            {% if similar_images %}
            <div class="d-flex justify-content-center mb-3">
              <img
                style="object-fit: cover"
                width="60"
                height="60"
                class="rounded-2 small-img border mx-1 rounded-2"
                src="{{ photo.image.url }}"
              />
              {% for photo in similar_images %}
              <img
                style="object-fit: cover"
                width="60"
                height="60"
                class="rounded-2 small-img border mx-1 rounded-2"
                src="{{ photo.image.url }}"
              />
              {% endfor %}
            </div>
            {% endif %}
          </aside>

          <main class="col-lg-6">
            <div class="ps-lg-3">
              <h4 class="title text-dark">{{ photo.name }}</h4>
              <h2 class="title text-dark">€{{ photo.price }}</h4>

              <div class="my-3">
                <p class="text-muted small">{{ photo.description|truncatechars:100 }}</p>
              </div>

              <div class="row">
                <dt class="col-3">Type:</dt>
                <dd class="col-9">{{ photo.type }}</dd>

                <dt class="col-3">Color</dt>
                <dd class="col-9">{{ photo.color }}</dd>

                <dt class="col-3">Brand</dt>
                <dd class="col-9">{{ photo.shop }}</dd>

                <dt class="col-3">Size</dt>
                <dd class="col-9">{{ photo.size }}</dd>
                
                <dt class="col-3">Rating</dt>
                <dd class="col-9">{{ photo.rating }}</dd>
                
              </div>

              <hr />
              <button
                data-product="{{ photo.pk }}"
                data-action="add"
                class="btn btn-dark w-100 update-cart mb-3"
              >
                <i class="me-1 fa fa-shopping-basket"></i> Add to cart
              </button>
              <a
                class="btn btn-outline-dark w-100 mb-1"
                href="{% url 'cart' %}"
                >View Cart</a
              >
            </div>
          </main>
        </div>
      </div>

      <section class="border-top py-4">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item w-auto">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                More about the product 
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{ photo.description }}
              </div>
            </div>
          </div>
        </div>
        {% if similar_photos %}
        <div class="col-lg-4">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Similar items</h5>
                {% for photo in similar_photos %}
                <div class="d-flex mb-3">
                  <a
                    href="{% url 'photo' photo.pk %}"
                    class="me-3"
                  >
                    <img
                      src="{{ photo.image.url }}"
                      style="min-width: 96px; height: 96px; object-fit: cover"
                      class="img-md img-thumbnail"
                    />
                  </a>
                  <div class="info">
                    <a
                      href="{% url 'photo' photo.pk %}"
                      class="nav-link mb-1"
                      >{{ photo.name }}</a
                    >
                    <strong class="text-dark">€ {{ photo.price }}</strong>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </section>
    </section>
  </div>
  {% if similar_products %}
  <hr />
  <div class="col ">
    <div class="row">
      <h5 class="card-title mb-3">Similar items</h5>

      <div class="row">
        {% for photo in similar_products %}
        <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
          <div style="border: none" class="card w-100 my-2 shadow-2-strong">
            <a href="#">
              <img
                src="{{ photo.image.url }}"
                class="card-img-top"
                style="
                  aspect-ratio: 1 / 1;
                  object-fit: cover;
                  border-radius: 25px;
                  height: 25rem;
                "
                alt="{{ photo.name }}"
            /></a>

            <div style="margin-top: 1rem" class="row d-flex flex-column">
              <p class="text-bold">
                {{ photo.description|truncatechars:50 }}
              </p>
              <p class="text-secondary">By: {{ photo.shop }}</p>
            </div>
            <hr />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  <div></div>
  {% endif %}
</div>

<script>
  var ProductImg = document.getElementById("productImg");
  var SmallImg = document.getElementsByClassName("small-img");

  SmallImg[0].onclick = function () {
    ProductImg.src = SmallImg[0].src;
  };
  SmallImg[1].onclick = function () {
    ProductImg.src = SmallImg[1].src;
  };
  SmallImg[2].onclick = function () {
    ProductImg.src = SmallImg[2].src;
  };
  SmallImg[3].onclick = function () {
    ProductImg.src = SmallImg[3].src;
  };
</script>
{% endblock %}
