{% extends 'base.html' %}{% load static %} {% block body %}
<div class="container my-5">
  <div
    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center"
  >
    {% for photo in unique_photos %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <img
        src="{{ photo.image.url }}"
        alt="{{ photo.name }}"
        class="img-fluid mb-2"
      />
      <a href="{% url 'photo' photo.pk %}" class="underline hover"
        ><h3>{{ photo.name }}</h3>
        <h3>€ {{ photo.price }}</h3></a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
