{% extends 'base.html' %} {% load static %} {% block body %}

<div id="top" class="container">
  <!-- Products -->
  <div class="container my-5">
    <h1 class="mb-3">New Arrivals</h1>
    <div class="row">
      {% for photo in photos %}
      <div class="col-sm-12 col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            src="{{ photo.image.url }}"
            style="
              object-fit: cover;
              height: 225px;
              width: 100%;
              display: block;
            "
          />
          <div class="card-body">
            <a class="text-dark underline" href="{% url 'photo' photo.pk %}"
              ><h5 class="card-text">{{ photo.name }}</h5></a
            >
            <p class="card-text">{{ photo.shop }}</p>
            <h4 class="card-text">€{{ photo.price }}</h4>
            <hr />
            <div class="d-flex justify-content-between align-items-center">
              <button
                data-product="{{ photo.pk }}"
                data-action="add"
                class="btn btn-dark w-100 update-cart mb-3"
              >
                Add To Cart <i class="me-1 fa fa-shopping-basket"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Products -->

  <hr />
  <!-- Blog -->
  <section class="mt-5 mb-4 container text-dark">
    <h3 class="mb-4">Blog posts</h3>
    <div class="row">
      {% for blog in blogs|slice:":4" %}
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
          <a href="#" class="img-fluid">
            <img
              class="rounded w-100"
              src="{{ blog.imageURL }}"
              style="object-fit: cover"
              height="160"
            />
          </a>
          <div class="mt-2 text-muted small d-block mb-1">
            <span>
              <i class="fa fa-calendar-alt fa-sm"></i>
              {{ blog.pub_date }}
            </span>
            <a class="underline" href="{% url 'blog_detail' pk=blog.pk %}"
              ><h6 class="text-dark">{{ blog.title|truncatechars:50 }}</h6></a
            >
            <p>{{ blog.summary|truncatechars:50}}</p>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Blog -->
  <hr />
  <div class="text-center">
    <a class="underline text-dark" href="#top">Back to top</a>
  </div>
</div>
{% endblock %}
